* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  gap: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result {
  opacity: 0;
  text-align: center;
  font-size: 3rem;
  width: 25vw;
  height: 7vh;
  color: coral;
  transition: 100ms ease-in;
}

.field {
  height: 45vh;
  width: 25vw;
  display: grid;
  grid-template: 33% 33% 33% / 33% 33% 33%;
  gap: 5px;
}

.square {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  align-items: center;
  border: 2px solid;
}